{% extends "base.html" %}{% load django_bootstrap5 %}

{% block page_content %}
	<div class="card mt-3 m-auto content-card">
		<div class="card-body">
			<h5 class="card-title">Log in</h5>
			{% bootstrap_form_errors form %}
			<form method="post">
				{% csrf_token %}
				{% bootstrap_form form layout='inline' %}
				<input type="hidden" name="next" value="{{ next }}">
				{% bootstrap_button button_type='submit' content='Login' %}
			</form>
			<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
		</div>
	</div>
{% endblock %}
